.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 25px;
  font-family: "Manrope", sans-serif;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 550px;
  gap: 60px;
}

.hero-container h1 {
  font-size: 50px;
  font-weight: 600;
  max-width: 600px;
  line-height: 1.1;
  color: #111111;
}

.hero-container p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #2c2c2c;
}

.contact-btn,
.wedo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  gap: 8px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.contact-btn {
  background-color: #4e5bff;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.contact-btn:hover {
  background-color: #3b4ed1;
  cursor: pointer;
}

.wedo-btn {
  color: #050505;
  font-weight: 500;
}

.hero-card {
  position: relative;
  width: 380px;
  border-radius: 20px;
  overflow: hidden;
  background: #d8d8dc;
  border: 5px solid #ffff;
  box-shadow:
    0 12px 30px rgba(78, 91, 255, 0.18),
    0 8px 20px rgba(0, 0, 0, 0.08);
}

.hero-card::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  height: 260px;
  background: rgba(255, 255, 255, 0.35);
  filter: blur(80px);
  border-radius: 50%;
  z-index: 1;
}

.hero-card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.55));
  z-index: 2;
}

.hero-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.hero-info {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 15px;
  z-index: 3;
}

.hero-text {
  background-color: transparent;
}

.hero-text h3 {
  color: white;
  margin: 5px 0 0;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
}

.hero-text p {
  color: #f5f5f5;
  font-size: 14px;
  margin: 0;
  background-color: transparent;
}

.arrow-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: #4e5bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
